/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-secondary;
	}

	:root {
		/* Colors */
		--clr-primary: 230 0 35;
		--clr-secondary: 17 18 28;
		--clr-accent: 255 255 255;
		--clr-primary-hover: 173 8 27;
		--clr-dark-gray: 118 118 118;
		--clr-dimmed-600: 208 208 208;
		--clr-dimmed-500: 231 231 231;
		--clr-dimmed-400: 239 239 239;
	}

	/* Input fields */
	.input-bg {
		@apply hover:bg-dimmed-500 bg-dimmed-400;
	}

	/* Buttons */
	.primary-btn {
		@apply text-white font-semibold bg-primary hover:bg-primary-hover transition ease-in-out duration-100;
	}
   
	.secondary-btn {
		@apply bg-dimmed-500 font-semibold hover:bg-dimmed-600 transition ease-in-out duration-100;
	}
   
   .icon-btn {
      @apply h-12 w-12 p-3 rounded-full hover:bg-dimmed-500 cursor-pointer;
   }

   .google-auth-btn {
      @apply bg-[#257ef2] font-semibold text-white hover:bg-[#086df2] transition ease-in-out duration-100 flex justify-center;
   }

	/* Pins */
	.pin {
		@apply px-2 pb-4 max-w-[266px];
	}

	.pin-img {
		@apply w-full min-h-[100px] max-h-[500px] rounded-2xl overflow-hidden relative;
	}

	.pin-info {
		@apply px-1.5 pt-2 pb-4 w-full;
	}

   /* Heading */
   .heading {
      @apply text-[2.25rem] leading-[3rem] font-semibold;
   }

   /* Register and login form */
   .form {
      @apply w-full max-w-sm py-8 px-12 bg-white rounded-2xl shadow-lg;
   }

   .form-field {
      @apply flex flex-col;
   }

   .form-input {
      @apply py-2 px-4 w-full rounded-2xl border-2 outline-none border-[#cdcdcd] leading-7 hover:border-[#888888] focus:border-[#257ef2];
   }

   .form-input.invalid {
      @apply border-primary hover:bg-white bg-red-50;
   }

   .form-label {
      @apply ml-2 mb-1 text-sm;
   }

   .form-message {
      @apply mt-2 text-primary;
   }
}

.tags::-webkit-scrollbar {
	display: none;
}