/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-secondary;
	}

	:root {
		/* Colors */
		--clr-primary: rgb(230 0 35 / 1);
		--clr-secondary: rgb(17 18 28 / 1);
		--clr-primary-hover: rgb(173 8 27 / 1);
		--clr-dark-gray: rgb(118 118 118 / 1);
      --clr-blueish: rgb(19 119 229 / 1);
		--clr-dimmed-700: rgb(208 208 208 / 1);
		--clr-dimmed-600: rgb(218 218 218 / 1);
		--clr-dimmed-500: rgb(231 231 231 / 1);
		--clr-dimmed-400: rgb(239 239 239 / 1);
	}

	/* Input background */
	.input-bg {
		@apply hover:bg-dimmed-500 bg-dimmed-400;
	}

	/* Buttons */
	.primary-btn {
		@apply text-white font-semibold bg-primary hover:bg-primary-hover transition ease-in-out duration-100;
	}
   
	.secondary-btn {
		@apply bg-dimmed-500 font-semibold hover:bg-dimmed-600 transition ease-in-out duration-100;
	}
   
   .arbitrary-btn {
      @apply text-white font-semibold bg-secondary;
   }

   .google-auth-btn {
      @apply bg-[#257ef2] font-semibold text-white hover:bg-[#086df2] transition ease-in-out duration-100 flex justify-center;
   }

   /* Heading */
   .heading {
      @apply text-[2.25rem] leading-[2.75rem] font-semibold;
   }

   /* Flex center */
   .flex-center {
      @apply flex items-center justify-center;
   }
}

/* .tags::-webkit-scrollbar {
	display: none;
} */